:root {
    --White: hsl(0, 0%, 100%);
    --Light-pink: hsl(275, 100%, 97%);
    --Grayish-purple: hsl(292, 16%, 49%);
    --Dark-purple: hsl(292, 42%, 14%);
    --Purple: hsl(281, 85%, 55%);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

html {
    //color-scheme: dark light;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-block-size: 100vh;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    // font 400 600 700
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    background: var(--Light-pink) url("../assets/images/background-pattern-desktop.svg") no-repeat left top / auto 538px;
    @media screen and (max-width: 500px) {
        background: var(--Light-pink) url("../assets/images/background-pattern-mobile.svg") no-repeat center top / auto 538px;
    }
}

img, picture, svg, video {
    display: block;
    max-inline-size: 100%;
}

//reset form elements
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

textarea {
    overflow: auto;
}

//main code

.accordion {
    max-inline-size: 604px;
    padding: 42px 40px 14px 44px;
    background-color: var(--White);
    border-radius: 20px;
    box-shadow: 0 0 150px -50px var(--Grayish-purple);
    @media screen and (max-width: 500px) {
        padding: 30px 25px 14px 25px;
        border-radius: 10px;
    }
}

.accordion__title {
    font-size: 54px;
    font-weight: 700;
    padding-inline-start: 66px;
    color: var(--Dark-purple);
    background: url("../assets/images/icon-star.svg") no-repeat left center;
    margin-bottom: 9px;
    @media screen and (max-width: 500px) {
        font-size: 40px;
        background-size: 32px 32px;
    }
}

.accordion__item {
    min-height: 79px;

    &:not(:last-child) {
        border-block-end: 1px solid var(--Light-pink);
    }
}

.accordion__item[open] .accordion__question {
    background: url("../assets/images/icon-minus.svg") no-repeat right center;
}

.accordion__question {
    display: flex;
    align-items: center;
    height: 79px;
    font-size: 18px;
    font-weight: 600;
    color: var(--Dark-purple);
    cursor: pointer;
    list-style: none;
    padding-right: 60px;
    background: url("../assets/images/icon-plus.svg") no-repeat right center;

    &:hover {
        color: var(--Purple);
    }
}

.accordion__answer {
    line-height: 1.5;
    padding-block-end: 22px;
    color: var(--Grayish-purple);
}